<div class="container">
  <div class="d-flex justify-content-end">
    <%= link_to 'Add Food', new_user_food_path, class: "btn btn-primary" %>
  </div>
  <br>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Food</th>
          <th>Measurement Unit</th>
          <th>Quantity</th>
          <th>Unit Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @foods.each do |food| %>
          <tr>
            <td><%= food.name %></td>
            <td><%= food.measurement_unit %></td>
            <td><%= food.quantity %></td>
            <td>$<%= food.price %></td>
            <td>
              <%= button_to 'Delete', user_food_path(food.user, food), method: :delete, class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
